@font-face {
    font-family: 'Stem';
    src: url('../fonts/Stem-Light.woff2') format('woff2'),
        url('../fonts/Stem-Light.woff') format('woff'),
        url('../fonts/Stem-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stem';
    src: url('../fonts/Stem-Medium.woff2') format('woff2'),
        url('../fonts/Stem-Medium.woff') format('woff'),
        url('../fonts/Stem-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stem';
    src: url('../fonts/Stem-Bold.woff2') format('woff2'),
        url('../fonts/Stem-Bold.woff') format('woff'),
        url('../fonts/Stem-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


